body {
  background-color: rgb(70, 252, 249);
  text-align: center;

}
.board-container {
  margin: 20px auto;
  height: 500px;
  width: 100px;
  background-color: rgb(0, 0, 0);
}
.col1 {
  /*height: 100px;
  width: 100px;*/
}
#num1 {
  background-color: rgb(0, 0, 0);
  height: 100px;
  width: 100px;
}
#num2 {
  background-color: rgb(0, 0, 0);
  height: 100px;
  width: 100px;
}
#num3 {
  background-color: rgb(0, 0, 0);
  height: 100px;
  width: 100px;
}
#four {
  background-color: rgb(0, 0, 0);
  height: 100px;
  width: 100px;
}
#five {
  background-color: rgb(0, 0, 0);
  height: 100px;
  width: 100px;
}
