body {
  background-image: url('dogpark.jpg');
  text-align: center;
}
.active {
  background-image: url('DogTetrisOne100px.jpg');
}
.board-container {
  margin: 10px auto;
  height: 500px;
  width: 200px;
}
.no-gutter {
    padding-right:0;
    padding-left:0;
}
#num1 {
  background-image: url('clear.png');
  /*background-color: rgb(0, 0, 0);*/
  height: 100px;
  width: 100px;
}
#num2 {
  background-image: url('clear.png');
  /*background-color: rgb(0, 0, 0);*/
  height: 100px;
  width: 100px;
}
#num3 {
  background-image: url('clear.png');
  /*background-color: rgb(0, 0, 0);*/
  height: 100px;
  width: 100px;
}
#num4 {
  background-image: url('clear.png');
  /*background-color: rgb(0, 0, 0);*/
  height: 100px;
  width: 100px;
}
#num5 {
  background-image: url('clear.png');
  /*background-color: rgb(0, 0, 0);*/
  height: 100px;
  width: 100px;
}#num11 {
  background-image: url('clear.png');
  /*background-color: rgb(0, 0, 0);*/
  height: 100px;
  width: 100px;
}
#num12 {
  background-image: url('clear.png');
  /*background-color: rgb(0, 0, 0);*/
  height: 100px;
  width: 100px;
}
#num13 {
  background-image: url('clear.png');
  /*background-color: rgb(0, 0, 0);*/
  height: 100px;
  width: 100px;
}
#num14 {
  background-image: url('clear.png');
  /*background-color: rgb(0, 0, 0);*/
  height: 100px;
  width: 100px;
}
#num15 {
  background-image: url('clear.png');
  /*background-color: rgb(0, 0, 0);*/
  height: 100px;
  width: 100px;
}
